html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.tabela, th, td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
}
th{
    background-color: lightgray;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

li {
    list-style-type: none
}
.menu {
    width: 15%;
    background-color: rgb(0, 101, 168);
    padding: 10px 20px 0px;
    
}
    a:link, a:visited {
        text-decoration: underline;
        color:rgb(255, 255, 255);
       
        }
    a:hover {
        text-decoration: underline;
        color: #8de1ef;
        }
    a:active {
        text-decoration: underline;
        color:rgb(0, 76, 91);
        }
.header {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 200px;
    padding: 20px;
}
.footer {
    justify-content: space-around;
    display: flex;
    background-color: rgb(2, 122, 202);
}

.mapa {
    
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 15px;
}

.formulario {
    display: flex;
    max-width: 400px;
    margin-left: 30px;
    margin-bottom: 10px;
	border: 1px solid #ccc;
}

fieldset {
    margin: 20px;
	background: rgb(241, 241, 241);
	text-align: left;
	font-size: 1.5em;
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
   
}  

.flex > div {
    flex: 1 1 200px;
   width: 200px;
    height: 200px;
}